In [1]:
import pandas as pd

In [3]:
x = pd.Series([6, 3, 8, 6])

In [4]:
x

0    6
1    3
2    8
3    6
dtype: int64

In [8]:
x = pd.Series([6, 3, 8, 6], index=["q", "w", "e", "r"])

In [9]:
x

q    6
w    3
e    8
r    6
dtype: int64

In [10]:
x["w"]

3

In [11]:
x[["r", "w"]]

r    6
w    3
dtype: int64

In [12]:
age = {"Tim":29, "Jim": 31, "Pam": 27, "Sam": 35}

In [14]:
x = pd.Series(age)
x

Tim    29
Jim    31
Pam    27
Sam    35
dtype: int64

In [18]:
data = {'name': ['Tim', 'Jim', 'Pam', 'Sam'],
       'age'  : [29,     31,    27,   35,],
       'ZIP'  : ['12345', '23456', '34567', '45678' ]}
x = pd.DataFrame(data, columns = ["name","age", "ZIP"])
x

  name  age    ZIP
0  Tim   29  12345
1  Jim   31  23456
2  Pam   27  34567
3  Sam   35  45678

In [19]:
x["name"]

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [20]:
x.name

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [21]:
x = pd.Series([6, 3, 8, 6], index=["q", "w", "e", "r"])
x.index

Index(['q', 'w', 'e', 'r'], dtype='object')

In [22]:
sorted(x.index)

['e', 'q', 'r', 'w']

In [23]:
x.reindex(sorted(x.index))

e    8
q    6
r    6
w    3
dtype: int64

In [24]:
x = pd.Series([6, 3, 8, 6], index=["q", "w", "e", "r"])
y = pd.Series([7, 3, 5, 2], index=["e", "q", "r", "t"])
x + y

e    15.0
q     9.0
r    11.0
t     NaN
w     NaN
dtype: float64